@CHARSET "UTF-8";

.container{
	position:relative;
	margin:0px auto 5px; 
    width:800px;
	overflow:hidden;
	background-image:url(../images/2.png);
}
h1{
	text-align:center;
}
h2{
	padding-left:20px;
}
ol{
	padding:10px 50px;
}